body {
    margin: 0;
    padding: 0;
    background-color:beige;
}

#pageTitle {
    text-align: center
}

header {
    background-color: rgb(225, 255, 173);
    padding: 1em 0;
}

p {
    margin: 0 5em;
    text-align: justify;
}